/* styles.css */

:root{
  --primary-color: #faf8f0;
  --primary-color-translucent: #faf8f085;
  --secondary-color: #c7c1b781;
  --shadow-color: #746a6580;
  --header-color: #000000;
  --text-color: #272421;
}

.dark-theme{
  --primary-color: #1f1b1a;
  --primary-color-translucent: #1f1b1a81;
  --secondary-color: #1b161580;
  --shadow-color: #14131280;
  --header-color: #FAF8F0;
  --text-color: #C7C1B7;
}

/* Track */
html {
  scrollbar-color: var(--secondary-color) var(--primary-color); /* Set your desired track and handle colors */
  height: -webkit-fill-available;
}

/* Set overscroll-behavior to none to prevent content from shifting */
body {
  overscroll-behavior: none;
  height: -webkit-fill-available;
}

/* Reset some default styles for consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

/* Set a base font and background color for the entire website */
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--primary-color);
  width: 100vw;
  overflow-x: hidden;
  font-size: 1rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
  -webkit-perspective: 100px;
}

.parallax {
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  display: block;
  align-content: center;
  width: 100vw;
  min-height: 90%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
  overflow: hidden;
}

/* Style the header section */
header {
  background-color: #394D42;
  height: 3.5em;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.home-header {
  background-color: #1f1b1a81;
  height: 3.5em;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}

header h1 {
  color: #faf8f0;
  font-size: 2.4rem;
}

.title {
  display: inline-flex;
}

.title img {
  width: 2.2em;
  height: 2.2em;
  top: 0;
  left: 0;
}

.title a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #FAF8F0;
}

.title a:hover {
  color: #faf8f0;
  font-weight: bold;
  text-shadow: 0px 0px 5px #00000080,
  0px 0px 10px #ffffff;
}

.main-links nav ul {
  list-style: none;
}

.main-links nav ul li {
  display: inline;
  margin-inline: 10%;
}

.main-links nav ul li a {
  color: #faf8f0;
  position: relative;
  text-decoration: none;
}

.main-links nav ul li a:hover {
  color: #FAF8F0;
  font-weight: bold;
}

.twolinks {
  width: 45%;
  display: inline-block;
  white-space : nowrap;
  overflow : hidden;
}

/* Parallax Image */

.background-img {
  width: 100vw;
  transform: translateZ(-100px) scale(2);
  -webkit-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px)scale(2);
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
}

.background-img img {
  position: relative;
  top: -10em;
  overflow: hidden;
  object-fit: cover;
  min-width: 200%;
  min-height: 100vh;
}

/* Style the main content section */
main {
  min-height: 10vh;
  margin-top: 0;
  justify-content: space-around;
  overflow: hidden;
}

.main-home {
  background-color: var(--primary-color-translucent);
  min-height: 10vh;
  margin-top: 0;
  backdrop-filter: blur(5px);
  justify-content: space-around;
  overflow: hidden;
}

main h2 {
  color: var(--header-color);
  font-size: 2rem; 
  margin-inline: 10%;
  margin-top: 0px;
  margin-bottom: 20px;
}

main p {
color: var(--text-color);
  margin-inline: 15%;
  margin-bottom: 15px;
  font-size: 1rem;
}

main ul {
  list-style: none;
  margin-bottom: 15px;
}

.discription-container {
  padding-top: 4em;
  margin-bottom: 2em;
}

/* -------HOME PAGE------- */

.home-page {
  width: 55%;
  display: wrap;
  text-align: center;
  background-color: var(--primary-color);
  min-width: 25em;
  min-height: 44em;
  padding-bottom: 6em;
}

.home-background-img {
  width: 100vw;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
}

.home-background-img img {
  bottom: 10em;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  min-width: 100%;
  min-height: 100vh;
}

.space-home {
  min-height: 20em;
  height: 50vw;
  max-height: 39em;
  text-align: left;
}

.space-home h2 {
  margin-left: 7%;
  margin-top: 1.8em;
  color: #ffffff;
  font-size: 6em;
  text-shadow: #000000 0 0 10px;
}

.space-home p {
  margin-top: .1em;
  margin-left: 7.5%;
  color: #ffffff;
  font-size: 2em;
  text-shadow: #000000 0 0 10px;
}

.olivia {
  position: absolute;
  width: 100vw;
  text-align: right;
}

.olivia p {
  color: var(--header-color);
  position: relative;
  margin: 0;
  top: .5em;
  right: 3em;
}

.olivia p a {
  color: var(--header-color);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.image-container {
  display: flex;
  overflow: clip;
  width: 100vw;
  height: 85vh;
}

.image-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-area {
  min-height: 24em;
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  justify-content: center;
}

.content-item {
  width: 100%;
  padding-top: 6em;
}

.content-item h2 {
  text-align: left;
  margin-left: 13%;
}

.content-item p {
  text-align: left;
  margin-left: 13%;
  max-width: 40em;
}

/* -------- PRODUCT PAGE --------*/

.products-page {
  width: 70%;
  display: inline-block;
  text-align: center;
  background-color: var(--primary-color);
  min-width: 25em;
}

.product-container {
  display: inline-block;
  max-width: 60em;
  width: 80%;
  height: auto;
  margin-top: 4em;
  margin-bottom: 6em;
  justify-content: space-around;
}

.product-card {
  min-width: 20em;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
  box-shadow: inset 0 0 1em .4em var(--shadow-color);
  backdrop-filter: blur(5px);
  margin-bottom: 1.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .5em;
}

.product-card h3 {
  color: var(--header-color);
  margin-top: 2em;
  margin: 1em;
}

.product-card p {
  color: var(--text-color);
  margin-inline: 10%;
  margin-bottom: 2em;
}

/* ------- ABOUT PAGE ------- */

.about-page {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--primary-color);
  width: 70%;
  min-width: 25em;
  align-items: start;
}

.dropdown-container {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.dropdown-button {
  align-items: center;
  background: none;
  display: flex;
  padding: 0px;
  border: none;
  outline: none;
  width: 100%;
  transition: all 1s ease;
  cursor: pointer;
  position: relative;
  flex-grow: 0;
  transition: all 0.5s ease;
}

.dropdown-button:hover {
  cursor: pointer;
  margin: 0;
  background-color: var(--secondary-color);
}

.dropdown-button img {
  object-fit: cover;
  width: 5em;
  height: 5em;
}

.dropdown-button h2 {
  font-size: 1.3rem;
  margin-top: .8em;
  margin-bottom: .8em;
  margin-left: 0;
  padding: 0px;
}

.dropdown-content {
  margin: 0;
  display: flex;
  opacity: 0;
  background-color: var(--secondary-color);
  box-shadow: inset 0 0 .5em .2em var(--shadow-color);
  width: 100%;
  max-height: 0em;
  flex-grow: 1;
  overflow: hidden;
  transition: all .4s ease;
  border-radius: .5em;
}

.dropdown-content.active {
  opacity: 1;
  max-height: 40em;
  height: auto;
  transition: all .6s ease;
}

.dropdown-content p {
  text-align: left;
  overflow: hidden;
  min-width: 15em;
  max-width: 50em;
  margin-inline: 4em;
  margin-top: .8em;
  margin-bottom: 1em;
}

.about-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  width: 80vw;
  height: 100%;
  margin-bottom: 4em;
}

.about-card {
  text-align: left;
  max-width: 50rem;
  min-width: 20rem;
  width: 80%;
  height: 100%;
  margin-bottom: 5em;
}

.about-card p {
  margin-inline: 8%;
}

.about-profile-card {
  background-color: var(--secondary-color);
  box-shadow: inset 0 0 1em .4em var(--shadow-color);
  text-align: center;
  width: 40%;
  min-width: 30em;
  height: auto;
  min-height: 36em;
  padding-bottom: 4em;
  margin-bottom: 2em;
  border-radius: .5em;
}

.about-profile-card img {
  margin-top: 4em;
  margin-bottom: 0em;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 1em .4em var(--shadow-color);
}

.about-profile-card p {
  font-size: 1rem;
  margin-inline: 2em;
}

/* -------- CONTACT PAGE --------- */

.contact-page {
  width: 70%;
  display: inline-block;
  text-align: center;
  background-color: var(--primary-color);
  min-width: 25em;
  min-height: 58em;
}

.contact-container {
  background-color: none;
  max-width: 50vw;
  margin-top: 5em;
  margin-bottom: 2em;
  display: inline-flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 100%;
}

.contact-card {
  text-align: center;
  margin-inline: 1em;
  width: 8em;
  height: 8em;
  border: none;
  outline: none;
}

.contact-card img {
  margin-bottom: .5em;
  width: 4em;
  height: auto;
  object-fit: cover;
}

.contact-card ul a {
  list-style-type: none;
  text-decoration: none;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

/* ------- FOOTER ------- */

footer {
  display: inline-block;
  position: relative;
  height: 2.5em;
  width: 100%;
  background-color: #394D42;
  color: #C7C1B7;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .8em;
  box-shadow: 0 0 1em .5em var(--shadow-color);
}

footer p {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

footer p:hover {
  text-decoration: underline;
}

#darkmode-icon {
  position: absolute;
  margin-left: 1em;
  display: flex;
  top: .8em;
  width: 3em;
  height: 3em;
  cursor: pointer;
}


/* -------- DEVICE SPECIFIC -------- */

/* Media query for tablets (e.g., iPads) */
@media (max-width: 1024px) {
  /* CSS rules specific to tablets */

}

/* Media query for smaller devices (e.g., iPhones) */
@media (max-width: 768px) {
  /* CSS rules specific to smaller devices */

.main-links nav ul li a {
  font-size: .9em;
}

main {
  min-height: 50%;
}

.home-page {
  width: 100%;
}

.home-background-img img {
  top: 0em;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  min-width: 100%;
  min-height: 70vh;
}

.space-home {
  min-height: 50vh;
  height: 50vh;
  text-align: left;
}

.space-home h2 {
  margin-left: 2.6rem;
  font-size: 5em;
  appearance: none;
  text-shadow: rgba(0, 0, 0, 0.247) 0 0 20px;
}

.space-home p {
  margin-left: 3rem;
  font-size: 2em;
  font-weight: 500;
  text-shadow: rgb(0, 0, 0) 0 0 5px;
}

.content-item h2 {
  text-align: center;
}

.content-item p {
  display: block;
  text-align: center;
  width: auto;
  min-width: 12em;
  margin-inline: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Products */

.products-page{
  display: block;
  width: 100%;
}

/* About */

.about-page {
  display: block;
  width: 100%;
}
  
.about-profile-card p {
  margin-inline: 1em;
}

.about-card {
  text-align: left;
  min-width: 20rem;
  height: 100%;
  margin-bottom: 5em;
}

.about-profile-card {
  text-align: center;
  width: 80%;
  min-width: 20em;
  height: auto;
  padding-bottom: 4em;
  margin-bottom: 2em;
}

.about-profile-card p {
  font-size: 1rem;
  margin-inline: 2em;
}

/* Contact */

.contact-page {
  width: 100%;
}

.contact-card {
  text-align: center;
  margin-inline: .5em;
  width: 50%;
  height: 80%;
}

.social-button img {
  margin-bottom: .5em;
  width: 4em;
  height: 4em;
  object-fit: cover;
}

.contact-card ul a {
  list-style-type: none;
  font-size: .8rem;
}

}